#Zmf{
    .top-img{
        img{
            width: 100%;
        }
    }
    .nav{
        display: flex;
        justify-content: space-around;
        span{
            display: inline-block;
            height: 30px;
            font-size: 20px;
            margin-left: -3rem;
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;
        }
    }
    .list_item{
        display:flex;
        flex-flow: wrap;
        justify-content: space-around;
        .goodslist{
            width: 45%;
            margin-top: 0.3rem;
            border: 1px solid #ccc;
            a{ 
                text-decoration:none; 
                color:#333; 
                }
            .frame{
                width: 100%;
                height: 167px;
                img{
                    width: 100%;
                }
            }
            .frame1{
                margin-left: 15px;
                text-align: center;
                box-sizing: border-box;
                overflow: hidden;
                width: 150px;
                height: 22px;
            }
            .frame2{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                i{
                    width: 100px;
                    height: 34px;
                    display: inline-block;
                    line-height: 34px;
                    margin-left: 10px;
                    box-sizing: border-box;
                }
                p{
                    width: 34px;
                    height: 34px;
                    background-size: 100%;
                    display: inline-block;
                }
            }
        }
    }
    .list_top{
        display:flex;
        flex-direction: row;
        flex-flow: nowrap;
        justify-content: space-around;
        li{
            flex: 1;
            height: 30px;
            text-align: center;
            line-height: 30px;
        }
    }
    .active{
        border-bottom: 1px solid pink;
        color:pink;
    }
    .hehe{
        color: darkviolet;
        font-size: 20px;
        text-align: center;
    }
}