#geren{
    background: #F4F4F4;
    .center{
        position: relative;
        background-color: #59dac5;
        width: 10rem;
        height: 6.33333rem;
        .bg-tree{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: url("https://asset.watsons.com.cn/h5/static/images/member/daytime/b076c715779ea5d69467646fc.png") 50% no-repeat;
            background-size: cover;
        }
        .user-logo {
            position: absolute;
            bottom: 2.46667rem;
            left: 4.2rem;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 50%;
            background: url("C:/Users/Administrator/Desktop/34.jpg") 50% no-repeat;
            // background: url(//image.watsons.com.cn//upload/16fde396.png) 50% no-repeat;
            background-size: cover;
        }
        .user-name {
            position: absolute;
            left: 45%;
            top:65%;
            color: azure;
            font-size: 15px;
        }
        .daytime-cloud1 {
            position: absolute;
            background: 50% no-repeat;
            background-size: cover;
            top: 3.06667rem;
            left: .8rem;
            width: .66667rem;
            height: .36rem;
            background-image: url("C:/Users/Administrator/Desktop/111.png");
        }
        .daytime-cloud2 {
            position: absolute;
            background: 50% no-repeat;
            background-size: cover;
            top: 1.6rem;
            left: 2.33333rem;
            width: .50667rem;
            height: .24rem;
            background-image: url("C:/Users/Administrator/Desktop/111.png");
        }
        .daytime-cloud3 {
            position: absolute;
            background: 50% no-repeat;
            background-size: cover;
            top: 1.93333rem;
            left: 5.73333rem;
            width: .66667rem;
            height: .36rem;
            background-image: url("C:/Users/Administrator/Desktop/111.png");
        }
        .daytime-cloud4 {
            position: absolute;
            background: 50% no-repeat;
            background-size: cover;
            top: 2.73333rem;
            right: 1.17333rem;
            width: .64rem;
            height: .30667rem;
            background-image: url("C:/Users/Administrator/Desktop/111.png");
        }
        .u-header{
            width: 10rem;
            height: 1.10667rem;
            line-height: 1.10667rem;
            overflow: hidden;
            white-space: nowrap;
            word-break: keep-all;
            text-overflow: ellipsis;
            .icon-back{
                width: 3%;
                position: absolute;
                left: 0.3rem;
                top: 0.3rem;
            }
            .btn-cart{
                width: 6%;
                position: absolute;
                top: 0.3rem;
                left: 28em;
            }
        }
        .btn-home-wrap {
            position: absolute;
            right: 0;
            bottom: .53333rem;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            height: .8rem;
            line-height: .8rem;
            padding-left: .26667rem;
            background-color: #107d64;
            color: #fff;
            font-size: .34667rem;
            border-top-left-radius: .4rem;
            border-bottom-left-radius: .4rem;
            .icon-home{
                width: 16%;
                padding-left: .2rem;
            }
            .icon-right{
                width: 9%;
                transform: translateX(80%) rotate(180deg);
            }
        }
    }
    .u-order-menu-wrap{
        margin-bottom: .26667rem;
        background-color: #fff;
        .order-menu-title{
            border-bottom: 1px solid #EEEEE4;
            position: relative;
            width: 9.2rem;
            margin-left: auto;
            margin-right: auto;
            height: 1.33333rem;
            line-height: 1.33333rem;
            color: #4a4a4a;
            font-size: .37333rem;
            .icon-right{
                position: absolute;
                top: 50%;
                right: 0;
                width: .53333rem;
                height: .29333rem;
                transform: translateY(-50%) rotate(90deg);
            }
        }
        .order-menu-list{
            margin-top: 0.3rem;
            display: flex;
            font-size: .34667rem;
            .order-menu{
                flex: 1;
                color: #919090;
                text-align: center;
                height: 2.26667rem;
                display: flex;
                flex-direction: column;
                img{
                    width: 50%;
                    margin-left: 0.5rem;
                    box-sizing: border-box;
                }
                span{
                    margin-top: 0.2rem;
                }
            }
        }
    }
    .u-common-menu-wrap{
        position: relative;
        margin-bottom: .26667rem;
        color: #919090;
        background-color: #fff;
        overflow: hidden;
        .common-menu-title{
            position: relative;
            padding-left: .4rem;
            height: .8rem;
            line-height: .8rem;
            font-size: .32rem;
        }
        .common-menu-list{
            font-size: .32rem;
            display: flex;
            flex-flow: row wrap;
            .common-menu{
                display: flex;
                flex-direction: column;
                height: 2.46667rem;
                width: 2.5rem;
                text-align: center;
                align-items: center;
                border: 1px solid #EEEEE4;
                box-sizing: border-box;
                img{
                    width: 30%;
                    padding-top: 0.5rem;
                    box-sizing: border-box;
                }
                span{
                    margin-top: 0.2rem;
                }
            }
        }
    }
    .u-copyright{
        padding-top: .66667rem;
        padding-bottom: .66667rem;
        text-align: center;
        color: #919090;
        font-size: .32rem;
    }
}
