#Mask{
    position: absolute;
    top:80px;
    width: 10rem;
    .swiper-container{
        width: 10rem;
        .swiper-wrapper{
            width: 10rem;
            .swiper-slide{
                img{
                    width: 100%;
                }
            }
        }
    }
}