#Header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100px;
    background: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    width: 10rem;
    // margin-top: 5px;
    height: 40px;
    .portrait{
        background-image: url('C:/Users/Administrator/Desktop/34.jpg');
        background-size: 100%;
        width: 31px;
        height: 31px;
        
    }
    .Inputwall{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 20px;
        width: 225px;   
        input{
            border: none;
            width: 180px;
            height: 20px;
            outline: none;
        }
        .anticon anticon-search{
            margin-top: 10px;
        }
    }
    .nav{
        width: 10rem;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 40px;
        z-index: 100px;
        background: white;
        a{
            font-size: 15px;
            text-decoration: none;
            color: black;
            display:inline-block;
            height: 20px;
        }
        .active{
            border-bottom: 3px solid pink;
            color: pink;
        }
        
    }
}