#Contents{
    .bj{
        width: 10rem;
        height: 125px;
        img{
            width: 100%;
        }
    }
    .denglu{
        background-image: url("//asset.watsons.com.cn/act/static/images/mask-center/442af5844f137440b999ff5c7.png");
        width: 10rem;
        height: 80px;
        background-size: 100%;
        margin: 5px 10px;
        margin-right: 10px;
        box-sizing: border-box;
    }
}